body {
  background: rgb(102,185,189);
}

#title {
  font-family: 'Comfortaa', cursive;
  color: yellow;
  text-align: center;
}

#headlines {
  font-family: 'Comfortaa', cursive;
  color: yellow;
  text-align: center;
}

a {
  text-decoration: none;
  color: yellow
}

a:hover {
    color: hotpink;
}

a:visited {
    color: blue;
}
